@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> This project was created by Tushar Patel as tool to make cocktail mixing more accesible. By Using an web API from TheCocktailDB, this site has access to hundreds of recipes using hundreds, and can provide suggestions based on what you have available in your kitchen.</p>
    <p><a asp-area="" asp-page="/Cocktail"> Click here to use the site.</a></p>
</div>
